---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}



{{#if customer}}
<aside class="product-listing-container banners" data-banner-location="top">
    <aside class="banner">

        <p>
            Hello, {{customer.name}}. 
        </p>

        <p>
            Your email: {{customer.email}}. 
        </p>

        {{#if customer.phone}}
        <p>
            Your phone: {{customer.phone}}.
        </p>
        {{/if}}

    </aside>
</aside>
<hr>
{{/if}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        <button class="button add-all-cart" data-cart-id="{{cart_id}}">Add All To Cart</button>
        
        {{#if cart_id}}
        <button class="button remove-all-cart" data-cart-id="{{cart_id}}">Remove All Items</button>
        {{/if}}
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}


<script>
    // Hover Effect for Special Item
  
    $('.card-figure').hover(
      function () {
        if (this.parentElement.dataset.test == 'card-112') {
          var image = $(this).find('.card-image');
          var newImg = image.attr('data-hoverimage');
          var currentImg = image.attr('src');
          if (newImg && newImg != '') image.attr('src', newImg);
        }
      },
      function () {
        if (this.parentElement.dataset.test == 'card-112') {
          var image = $(this).find('.card-image');
          var newImg = image.attr('data-src');
          var currentImg = image.attr('src');
          if (newImg && newImg != '') image.attr('src', newImg);
        }
      }
    );

    </script>